.post-content {
    bottom: 0;
    left:0;
    position: absolute;
    background-color: black;
    width: 100%;
}

.thumbnail-with-text {
    position:relative;
}


.btn-warning {
    color: black !important;   
}

}
.blocks-table {
            border: none;
            border-spacing: 0px;
            border-collapse: collapse;
        }
.blocks-table > tbody > tr > td, .blocks-table > tbody > tr > th
{
    padding: 0;
}

.props-table {
    width: 100%;
    background-color: black;
    color: #faa123;
}

.p-name {
    width: 70%;
}
.p-value {
    width: 30%;   
}
table.costs {
    background: transparent !important;
}
table.costs th {
    padding-bottom: 3px !important;
    color: #faa123;
    width: 70px;
}
table.costs td {
    width: 70px;
}
table.costs td.first {
    color: #faa123;
}
h4.booking {
    color: #faa123;
}