<h4 style="margin-top: 20px;">How to get there:</h4>
<p>
    <b>From Vyborgskaya metro station</b> (closed till the end of 2015)<br />
    <ul>
        <li>2 minutes on foot (190 m)</li>
    </ul>
</p>
<p>
    <b>From Lesnaya metro station</b><br />
    <ul>
        <li>Tram No. 20 (stop Vyborgskaya metro station)</li>
        <li>Tram No. 32 (stop Vyborgskaya metro station) – a temporary route for the time of closing meters for when Vyborgskaya metro station is shut down. Vyborg</li>
        <li>Tram No. 38 (get off at Vyborgskaya metro station)</li>
        <li>Bus No. 152</li>
    </ul>
</p>
<p>
    <b>From Lenina metro station (Finland Railway Station)</b><br />
    <ul>
        <li>Tram No. 20 (stop Vyborgskaya metro station)</li>
        <li>Tram No. 32 (stop Vyborgskaya metro station) - a temporary route for the time of closing meters for when Vyborgskaya metro station is shut down. Vyborg</li>
        <li>Tram No. 38 (stop Vyborgskaya metro station)</li>
        <li>Bus No. 14 (stop Vyborgskaya metro station)</li>
        <li>Bus No. 86 (stop Vyborgskaya metro station)</li>
        <li>Bus No. 52 (stop Vyborgskaya metro station) - a temporary route for when Vyborgskaya metro station is shut down</li>
        <li>Minibus No. 152</li>
        <li>Minibus No. 367</li>
    </ul>
</p>

