<h4 style="margin-top: 20px;">Как доехать:</h4>
<p>
    <b>От ст.м. Выборская</b> (закрыта до конца 2015г.)<br />
    <ul>
        <li>пешком 2 мин (190 м)</li>
    </ul>
</p>
<p>
    <b>От ст.м. Лесная</b><br />
    <ul>
        <li>Трамвай №20 (остановка ст. метро Выборгская)</li>
        <li>Трамвай №32 (остановка ст. метро Выборгская) – временный маршрут на время закрытия м. Выборгская</li>
        <li>Трамвай №38 (остановка ст. метро Выборгская)</li>
        <li>Маршрутка № 152</li>
    </ul>
</p>
<p>
    <b>От ст.м. Площадь Ленина (Финляндский вокзал)</b><br />
    <ul>
        <li>Трамвай  №20 (остановка ст. метро Выборгская)</li>
        <li>Трамвай №32 (остановка ст. метро Выборгская) – временный маршрут на время закрытия м. Выборгская</li>
        <li>Трамвай №38 (остановка ст. метро Выборгская)</li>
        <li>Автобус №14 (остановка ст. метро Выборгская)</li>
        <li>Автобус №86 (остановка ст. метро Выборгская)</li>
        <li>Автобус №52 (остановка ст. метро Выборгская) – временный маршрут на время закрытия м. Выборгская</li>
        <li>Маршрутка № 152</li>
        <li>Маршрутка № 367</li>
    </ul>
</p>
