@{
    ViewBag.Title = Resources.Strings.Contacts;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="yellow">@Resources.Strings.Contacts</h3>
        <p>Адрес: г. Санкт-Петербург , ул. Смолячкова д.14, корпус.4</p>
        <p>Телефон: @Resources.Strings.PhoneNmb</p>
        <h4 style="margin-top: 20px;">Как доехать:</h4>
        <p>
            <b>От ст.м. Выборская</b> (закрыта до конца 2015г.)<br/>
            <ul>
                <li>пешком 2 мин (190 м)</li>
            </ul>
        </p>
        <p>
            <b>От ст.м. Лесная</b><br/>
            <ul>
                <li>Трамвай №20 (остановка ст. метро Выборгская)</li>
                <li>Трамвай №32 (остановка ст. метро Выборгская) – временный маршрут на время закрытия м. Выборгская</li>
                <li>Трамвай №38 (остановка ст. метро Выборгская)</li>
                <li>Маршрутка № 152</li>
            </ul>
        </p>
        <p>
            <b>От ст.м. Горьковская</b><br/>
            <ul>
                <li>на автобусе №14 с остановки на ул. Австрийская</li>
                <li>на трамвае №6 с пересадкой на Б.Сампсониевском пр. на автобус № 14 или 86 (остановка ст. метро Выборгская)</li>
            </ul>
        </p>
        <h4 style="margin-top: 20px;">Карта:</h4>
        <div style="height: 450px;">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Ws2W3pTCUQjZsLI5RTARHVAQ0-em8Y5V&width=600&height=450"></script>
        </div>
        <div style="margin-top: 20px;">
            <img style="width: 600px;" src="@Url.Content("~/Content/Images/map.jpg")" alt=""/>
        </div>

    </div>
</div>

    
