@model QuestRoom.Models.FeedbackMessageResultViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row" style="padding-bottom: 50px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Title</h3>
            </div>
            <div class="panel-body">@Model.Message</div>
        </div>
    </div>
</div>