@{
    ViewBag.Title = "Бронирование выполнено!";
}

<div class="row" style="padding-bottom: 50px;">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Бронирование выполнено</h3>
            </div>
            <div class="panel-body">
                Бронирование выполнено<br/>
                В течении часа с вами свяжется оператор и подтвердит бронь
            </div>
        </div>
    </div>
</div>